[submodule "software/surmise"]
	path = software/surmise
	url = https://github.com/bandframework/surmise
[submodule "software/QGP_Bayes"]
	path = software/QGP_Bayes
	url = https://github.com/danOSU/QGP_Bayes.git
        branch = main
[submodule "software/SAMBA"]
	path = software/SAMBA
	url = https://github.com/asemposki/SAMBA.git
[submodule "software/Taweret"]
	path = software/Taweret
	url = https://github.com/bandframework/Taweret
[submodule "software/rose"]
	path = software/rose
	url = https://github.com/bandframework/rose
[submodule "software/jitr"]
	path = software/jitr
	url = git@github.com:beykyle/jitr.git
