[submodule "software/surmise"]
	path = software/surmise
	url = https://github.com/bandframework/surmise
[submodule "software/Taweret"]
	path = software/Taweret
	url = https://github.com/bandframework/Taweret
[submodule "software/rose"]
	path = software/rose
	url = https://github.com/bandframework/rose
[submodule "software/jitr"]
	path = software/jitr
	url = git@github.com:beykyle/jitr.git
[submodule "software/LCGP"]
	path = software/LCGP
	url = git@github.com:mosesyhc/LCGP.git
[submodule "examples/SAMBA"]
	path = examples/SAMBA
	url = https://github.com/asemposki/SAMBA
[submodule "examples/QGP_Bayes"]
	path = examples/QGP_Bayes
	url = https://github.com/danOSU/QGP_Bayes
[submodule "examples/nuclear_saturation"]
	path = examples/nuclear_saturation
	url = https://github.com/cdrischler/nuclear_saturation

