[submodule "software/surmise"]
	path = software/surmise
	url = https://github.com/surmising/surmise
[submodule "software/QGP_Bayes"]
	path = software/QGP_Bayes
	url = https://github.com/danOSU/QGP_Bayes.git
