name: Spellcheck Action
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
    # The checkout step
    - uses: actions/checkout@v3
    - uses: rojopolis/spellcheck-github-actions@0.33.1
      name: Spellcheck
      with:
        config_path: .github/config/.spellcheck.yml
        # source_files: surmisebandsdk.md
        # task_name: Markdown
        output_file: spellcheck-output.txt
    #- uses: actions/upload-artifact@v3
    #  with:
    #    name: Spellcheck Output
    #    path: spellcheck-output.txt
